<h1><%= @user.name %></h1>

<table>
  <tr>
    <th>Short URL</th>
    <th>Points to</th>
    <th>Original URL</th>
  </tr>
  <% @links.each do |link| %>
    <tr>
      <% full_url = @base_url + link.short_url %>
      <td><%= link_to full_url , full_url %></td>
      <td>--></td>
      <td><%= link.original_url %></td>
    </tr>
  <% end %> 
</table>
