<h1><%= @user.name %></h1>

<div class="row">
  <table>
    <tr>
      <th class="span5">Short URL</th>
      <th class="span2">Points to</th>
      <th class="span5">Original URL</th>
    </tr>
    <% @links.each do |link| %>
      <div class="row"
        <tr>
          <% full_url = @base_url + link.short_url %>
          <td class="span5"><%= link_to full_url , full_url %></td>
          <td class="span5">--></td>
          <td class="span5"><%= link.original_url %></td>
          <td class="span5">
            <%= link_to "Delete", link, method: 'delete', data: {confirm: 'Are you Sure?'} %>
          </td>
        </tr>
      </div>
    <% end %> 
  </table>
</div>